include ./mixins/dialog.pug

+dialog({
    id: "option",
    title: "设置",
    subtitle: "修改网站设置",
    contentClass: "mdui-p-b-0",
    content: []
})
+dialog({
    id: "extensions",
    title: "扩展包",
    subtitle: "引入自己的扩展包",
    contentClass: "mdui-p-a-0 virtual-scroll",
    contentPaddingX: 7,
    footerDivider: true,
    content: `
        <div class="mdui-toolbar mdui-color-theme" style="position: fixed; top: 92px;">
            <div class="mdui-toolbar-spacer"></div>
            <button class="mdui-btn mdui-btn-icon" onclick="app.gui.extensions.clear()">
                <i class="mdui-icon material-icons">block</i>
            </button>
            <button class="mdui-btn mdui-btn-icon" onclick="app.gui.extensions.new()">
                <i class="mdui-icon material-icons">add</i>
            </button>
        </div>
        <div id="extensions-vlist" class="virtual-scroll__container mdui-list mdui-list-dense mdui-p-y-0"></div>
    `
})
+dialog({
    id: "pwa",
    title: "PWA",
    subtitle: "使用 PWA 的相关功能",
    contentPaddingX: 3,
    content: [
        {
            title: "安装：",
            content: `
                <div class="mdui-typo">
                    如果你是第一次访问该网站，你可以选择安装该 PWA <a class="mdui-float-right" onclick="core.pwa.install()">点击安装</a>
                </div>
            `
        },
        {
            title: "检查更新：",
            content: `
                <div class="mdui-typo">
                    检查是否有新的版本<a class="mdui-float-right" onclick="core.pwa.check()">点击检查</a>
                </div>
            `
        },
        {
            title: "立即更新：",
            content: `
                <div class="mdui-typo">
                    立即更新至最新版（如果有）<a class="mdui-float-right" onclick="core.pwa.update()">点击更新</a>
                </div>
            `
        }
    ]
})
+dialog({
    id: "history",
    title: "历史记录",
    subtitle: "管理自己的历史记录",
    contentClass: "mdui-p-a-0 virtual-scroll",
    content: `
        <div id="history-vlist" class="virtual-scroll__container mdui-list mdui-list-dense mdui-p-a-0"></div>
    `,
    actions: [
        {
            text: "全部删除",
            onclick: "app.gui.history.clear()"
        }
    ]
})
+dialog({
    id: "love",
    title: "收藏",
    subtitle: "管理自己的收藏",
    contentClass: "mdui-p-a-0 virtual-scroll",
    content: `
        <div id="love-vlist" class="virtual-scroll__container mdui-list mdui-list-dense mdui-p-a-0"></div>
    `,
    actions: [
        {
            text: "全部删除",
            onclick: "app.gui.love.clear()"
        }
    ]
})
