include ./mixins/dialog.pug

+dialog({
    id: "option",
    title: "设置",
    subtitle: "你可以通过这个工具修改网站设置",
    content: [
        {
            title: "说明：",
            content: `
                <span class="mdui-typo">
                    该工具暂时不能使用，请尝试使用 <code>@option</code> 命令<br />
                    请确保加载了 <code>/js/custom/example.js</code> 扩展（已在配置文件中指定并加载）
                </span>
            `
        }
    ]
})
+dialog({
    id: "custom",
    title: "自定义",
    subtitle: "你可以通过这个工具引入自己的自定义项",
    content: [
        {
            title: "说明：",
            content: `
                <span class="mdui-typo">
                    每行一个链接<br />
                    有关如何编写，请见<a href="./docs/how-to-custom.md" target="_blank">此处</a><br />
                    您添加的所有信息都将保存在 <code>localStorage</code> 中
                </span>
            `
        },
        {
            title: "输入：",
            content: `
                <div class="mdui-textfield mdui-textfield-black mdui-p-a-0">
                    <textarea class="mdui-textfield-input" rows="4" placeholder="请输入文件链接" id="customURL"></textarea>
                </div>
            `
        }
    ],
    onsave: "app.option.setItem('customURL', document.querySelector('#customURL').value.split('\\n'))"
})
+dialog({
    id: "pwa",
    title: "PWA",
    subtitle: "你可以通过这个工具使用 PWA 的相关功能",
    content: [
        {
            title: "安装：",
            content: `
                <div class="mdui-typo">
                    如果你是第一次访问该网站，你可以选择安装该 PWA <a class="mdui-float-right" onclick="app.pwa.install()">点击安装</a>
                </div>
            `
        },
        {
            title: "检查更新：",
            content: `
                <div class="mdui-typo">
                    检查是否有新的版本<a class="mdui-float-right" onclick="app.pwa.check()">点击检查</a>
                </div>
            `
        },
        {
            title: "立即更新：",
            content: `
                <div class="mdui-typo">
                    立即更新至最新版（如果有）<a class="mdui-float-right" onclick="app.pwa.update()">点击更新</a>
                </div>
            `
        }
    ]
})
+dialog({
    id: "history",
    title: "历史记录",
    subtitle: "你可以通过这个工具管理自己的历史记录",
    content: `
        
    `,
})
