mixin card({id, title, subtitle, buttonText = "OPEN"})
    .mdui-card.mdui-shadow-6.mdui-m-b-2(id=`${id}-card`, style="border-radius: 6px;")
        .mdui-card-primary.mdui-p-t-2
            .mdui-card-primary-title= title
            .mdui-card-primary-subtitle= subtitle
        .mdui-card-actions
            button.mdui-btn.mdui-text-color-theme-accent.mdui-ripple.mdui-float-right.mdui-m-r-0(mdui-dialog=`{target: '#${id}-dialog', history: false, modal: true}`)= buttonText