@use "sass:map";

// Header
#header > .mdui-collapse-item {
    background-color: #fff !important;
}
.mdui-theme-layout-dark {
    #header > div.mdui-collapse-item {
        background-color: #303030 !important;
    }
}

// Drawer
.mdui-drawer {
    &.mdui-drawer-always-wide {
        background-color: #fff !important;
        width: 320px !important;
        max-width: 320px !important;
        
        &.mdui-drawer-close {
            transform: translateX(-330px) !important;
            
            &.mdui-drawer-right {
                transform: translateX(330px) !important;
            }
        }
    }
}
.mdui-theme-layout-dark {
    .mdui-drawer {
        &.mdui-drawer-always-wide {
            background-color: #424242 !important;
        }
    }
}

// Dialog
.mdui-dialog-full-screen {
    // => ./lite-mode.sass
}

// Textfield
.mdui-textfield-white,
.mdui-textfield-white-theme {
    .mdui-textfield-input {
        border-bottom: 1px solid rgba(255, 255, 255, .7) !important;
    }
    
    &.mdui-textfield-floating-label {
        .mdui-textfield-label {
            color: rgba(255, 255, 255, .35) !important;
        }
    }
    
    .mdui-textfield-input:not([disabled]):hover {
        border-bottom: 1px solid #fff !important;
        box-shadow: 0 1px 0 0 #fff !important;
        cursor: text !important;
    }
    
    &.mdui-textfield-focus {
        .mdui-textfield-input {
            &, &:hover {
                border-bottom-color: #fff !important;
                box-shadow: 0 1px 0 0 #fff !important;
            }
        }
        
        &.mdui-textfield-floating-label {
            .mdui-textfield-label {
                color: #fff !important;
            }
        }
    }
    
    &.mdui-textfield-invalid,
    &.mdui-textfield-invalid-html5 {
        &, &.mdui-textfield-focus {
            .mdui-textfield-input {
                border-bottom-color: #fff !important;
                box-shadow: 0 1px 0 0 #fff !important;
            }
        }
        
        &.mdui-textfield-floating-label {
            &.mdui-textfield-focus,
            &.mdui-textfield-not-empty {
                .mdui-textfield-label {
                    color: #fff !important;
                }
            }
        }
    }
}
.mdui-theme-layout-dark .mdui-textfield-white-theme {
    @extend .mdui-textfield-black
}

.mdui-textfield-black,
.mdui-textfield-black-theme {
    .mdui-textfield-input {
        border-bottom: 1px solid rgba(0, 0, 0, .42) !important;
    }
    
    &.mdui-textfield-floating-label {
        .mdui-textfield-label {
            color: rgba(0, 0, 0, .35) !important;
        }
    }
    
    .mdui-textfield-input:not([disabled]):hover {
        border-bottom: 1px solid rgba(0, 0, 0, .87) !important;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, .87) !important;
        cursor: text !important;
    }
    
    &.mdui-textfield-focus {
        .mdui-textfield-input {
            &, &:hover {
                border-bottom-color: rgba(0, 0, 0, .87) !important;
                box-shadow: 0 1px 0 0 rgba(0, 0, 0, .87) !important;
            }
        }
        
        &.mdui-textfield-floating-label {
            .mdui-textfield-label {
                color: rgba(0, 0, 0, .65) !important;
            }
        }
    }
    
    &.mdui-textfield-invalid,
    &.mdui-textfield-invalid-html5 {
        &, &.mdui-textfield-focus {
            .mdui-textfield-input {
                border-bottom-color: rgba(0, 0, 0, .87) !important;
                box-shadow: 0 1px 0 0 rgba(0, 0, 0, .87) !important;
            }
        }
        
        &.mdui-textfield-floating-label {
            &.mdui-textfield-focus,
            &.mdui-textfield-not-empty {
                .mdui-textfield-label {
                    color: rgba(0, 0, 0, .65) !important;
                }
            }
        }
    }
}
.mdui-theme-layout-dark .mdui-textfield-black-theme {
    @extend .mdui-textfield-white
}

// List
.mdui-list-item {
    .mdui-list-item-things-display-when-hover {
        display: none !important;
    }
    
    &:hover .mdui-list-item-things-display-when-hover {
        display: inline !important;
    }
}

// Helper
@mixin gen-spacing($spacing) {
    @if $spacing > 5 {  // 0-5 已经包含在原生 MDUI 中了，故不再生成
        @include gen-spacing($spacing - 1);
        $spacing-base: 8px;
        $spacing-type: (
            "m": "margin",
            "p": "padding"
        );
        $spacing-pos: (
            "a": ("top", "bottom", "right", "left"),
            "x": ("right", "left"),
            "y": ("top", "bottom"),
            "t": ("top"),
            "b": ("bottom"),
            "r": ("right"),
            "l": ("left")
        );
        @each $type-abbr, $type in $spacing-type {
            @each $pos-abbr, $poses in $spacing-pos {
                .mdui-#{$type-abbr}-#{$pos-abbr}-#{$spacing} {
                    @each $pos in $poses {
                        #{$type}-#{$pos}: $spacing * $spacing-base !important;
                    }
                }
            }
        }
    }
}
@include gen-spacing(10);

// Color
$colors: (
    "primary": (
        "red": #F44336,
        "pink": #E91E63,
        "purple": #9C27B0,
        "deep-purple": #673AB7,
        "indigo": #3F51B5,
        "blue": #2196F3,
        "light-blue": #03A9F4,
        "cyan": #00BCD4,
        "teal": #009688,
        "green": #4CAF50,
        "light-green": #8BC34A,
        "lime": #CDDC39,
        "yellow": #FFEB3B,
        "amber": #FFC107,
        "orange": #FF9800,
        "deep-orange": #FF5722,
        "brown": #795548,
        "grey": #9E9E9E,
        "blue-grey": #607D8B
    ),
    "accent": (
        "red": #FF5252,
        "pink": #FF4081,
        "purple": #E040FB,
        "deep-purple": #7C4DFF,
        "indigo": #536DFE,
        "blue": #448AFF,
        "light-blue": #40C4FF,
        "cyan": #18FFFF,
        "teal": #64FFDA,
        "green": #69F0AE,
        "light-green": #B2FF59,
        "lime": #EEFF41,
        "yellow": #FFFF00,
        "amber": #FFD740,
        "orange": #FFAB40,
        "deep-orange": #FF6E40
    )
);
@each $accent-name, $accent-color in map.get($colors, "accent") {
    $primary-color: map.get($colors, "primary", $accent-name);
    .mdui-theme-accent-#{$accent-name} {
        .mdui-text-color-theme-accent-revise-primary {
            color: $primary-color !important;
        }
        
        .mdui-typo {
            a.mdui-text-color-theme-accent-revise-primary {
                color: $primary-color !important;
                
                &::before {
                    background-color: $primary-color !important;
                }
            }
        }
    }
}