// Drawer
.mdui-drawer-always-wide {
    &.mdui-drawer {
        width: 320px !important;
        max-width: 320px !important;
    }
    
    &.mdui-drawer-close {
        transform: translateX(-330px) !important;
    }
    
    &.mdui-drawer-close.mdui-drawer-right {
        transform: translateX(330px) !important;
    }
}

// Textfield
.mdui-textfield-white {
    .mdui-textfield-input {
        border-bottom: 1px solid white;
    }
    
    .mdui-textfield-input:not([disabled]):hover {
        border-bottom: 1px solid white;
        box-shadow: 0 1px 0 0 white;
        cursor: pointer;
    }
    
    &.mdui-textfield-focus .mdui-textfield-input,
    &.mdui-textfield-focus .mdui-textfield-input:hover {
        border-bottom-color: white;
        box-shadow: 0 1px 0 0 white;
    }
}

.mdui-textfield-black {
    &.mdui-textfield-focus .mdui-textfield-input,
    &.mdui-textfield-focus .mdui-textfield-input:hover {
        border-bottom-color: rgba(0,0,0,0.7);
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.7);
    }
}

// List
.mdui-list-item {
    .mdui-list-item-things-display-when-hover {
        display: none !important;
    }
    
    &:hover .mdui-list-item-things-display-when-hover {
        display: inline !important;
    }
}
