include ../mixin/card.pug

button.mdui-fab.mdui-fab-fixed.mdui-ripple.mdui-color-theme-accent.mdui-hidden-sm-down(mdui-drawer="{target: '#drawer', overlay: true, swipe: true}" style="z-index: 100")
    i.mdui-icon.material-icons apps
#drawer.mdui-drawer.mdui-drawer-right.mdui-drawer-always-wide.mdui-drawer-full-height.mdui-color-white.mdui-drawer-close.mdui-p-t-2.mdui-p-x-2
    +card({
        id: "option",
        title: "设置",
        subtitle: "你可以通过这个工具修改网站设置",
        buttonText: "打开"
    })
    +card({
        id: "custom",
        title: "自定义",
        subtitle: "你可以通过这个工具引入自己的自定义项",
        buttonText: "打开"
    })
    +card({
        id: "pwa",
        title: "PWA",
        subtitle: "你可以通过这个工具使用 PWA 的相关功能",
        buttonText: "打开"
    })
    //- +card({
        id: "enumerate-card",
        title: "穷举助手",
        subtitle: "您可以通过这个工具输入穷举的内容",
        buttonText: "打开"
    //- })
