    <div class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-theme" style="height: 60px;">
            <i style="width: 32px !important;" class="mdui-icon material-icons mdui-text-color-white-icon mdui-m-r-0">edit</i>
            <div class="mdui-textfield mdui-textfield-white" style="padding: 18px 0; width: 100%">
                <input style="height: 24px; width: 100%; padding-bottom: 4px" class="mdui-textfield-input mdui-text-color-white-text mdui-p-t-0 minecraft-font" type="text" id="edit"/>
            </div>
        </div>
        <div class="mdui-toolbar mdui-color-white" style="height: 60px;">
            <div class="mdui-list-item-content">
                <div class="mdui-list-item-title" id="grammar" style="overflow-x: scroll;"></div>
                <div class="mdui-list-item-text mdui-list-item-one-line" id="note" style="overflow-x: scroll;"></div>
            </div>
            <a class="mdui-btn mdui-btn-icon" style="min-width: 24px; width: 24px; margin-left: 0; margin-right: 12px" target="_blank" id="wiki" mdui-tooltip="{content: 'WIKI'}">
                <i class="mdui-icon material-icons mdui-text-color-theme-icon">send</i>
            </a>
            <button class="mdui-btn mdui-btn-icon" style="display: none; min-width: 24px; width: 24px; margin-left: 0; margin-right: 12px" id="copy" mdui-tooltip="{content: 'COPY'}" onclick="page.input.copy('copy')">
                <i class="mdui-icon material-icons mdui-text-color-theme-icon">content_copy</i>
            </button>
        </div>
    </div>