    <button class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-theme-accent mdui-hidden-sm-down" mdui-drawer="{target: '#drawer', overlay: true, swipe: true}" style="z-index: 100">
        <i class="mdui-icon material-icons">apps</i>
    </button>
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-always-wide mdui-drawer-full-height mdui-color-white mdui-drawer-close mdui-p-t-2 mdui-p-x-2" id="drawer">
        <div class="mdui-card mdui-shadow-6 mdui-m-b-2" id="Setting-card" style="border-radius: 6px;">
            <div class="mdui-card-primary mdui-p-t-2">
                <div class="mdui-card-primary-title">设置</div>
                <div class="mdui-card-primary-subtitle">你可以通过这个工具修改网站设置</div>
            </div>
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple mdui-float-right mdui-m-r-0" mdui-dialog="{target: '#option-tool', history: false, modal: true}">打开</button>
            </div>
        </div>
        <div class="mdui-card mdui-shadow-6 mdui-m-b-2" id="Custom-card" style="border-radius: 6px;">
            <div class="mdui-card-primary mdui-p-t-2">
                <div class="mdui-card-primary-title">自定义</div>
                <div class="mdui-card-primary-subtitle">您可以通过这个工具对本站进行自定义</div>
            </div>
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple mdui-float-right mdui-m-r-0" mdui-dialog="{target: '#custom-tool', history: false, modal: true}">打开</button>
            </div>
        </div>
        <div class="mdui-card mdui-shadow-6 mdui-m-b-2" id="enumerate-card" style="border-radius: 6px; display: none;">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">穷举助手</div>
                <div class="mdui-card-primary-subtitle">您可以通过这个工具输入穷举的内容</div>
            </div>
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple mdui-float-right mdui-m-r-0" mdui-dialog="{target: '#enumerate-tool', history: false, modal: true}">打开</button>
            </div>
        </div>
    </div>