@import "./mdui.extension.scss";
@import "./virtualScroll.scss";
@import "./lite.scss";

// ==========

@font-face{
    font-family: Minecraft;
    src: url(/fonts/minecraft.ttf) format('truetype');
      /* url(/fonts/minecraft.eot) formaqt('embedded-opentype'),
         url(/fonts/minecraft.woff) format('woff'); */
}

.minecraft-font {
    font-family: Minecraft !important;
}

// ==========

@media (min-width: 600px) {
    .mdui-row .retract {
        width: 30px;
    }
}

// ==========

*::-webkit-scrollbar {
    display: none;
}

body.loading {
    .mdui-appbar {
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
    }
    
    .loading-box {
        display: block;
        width: 100%;
    }
}

body {
    padding-top: 128px;
    
    &:not(.loading) .loading-box {
        display: none !important;
    }
}